<div class="art-info-bar">
    {% load static %}
    <!-- menu bar frame -->
    <div class="art-info-bar-frame">

        <!-- info bar header -->
        <div class="art-info-bar-header">
            <!-- info bar button -->
            <a class="art-info-bar-btn" href="#.">
                <!-- icon -->
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <!-- info bar button end -->
        </div>
        <!-- info bar header end -->

        <!-- info bar header -->
        <div class="art-header">
            <!-- avatar -->
            <div class="art-avatar">
                <a data-fancybox="avatar" href="static/img/face-1.jpg" class="art-avatar-curtain">
                    <img src="{% static 'img/face-1.jpg' %}" alt="avatar">
                    <i class="fas fa-expand"></i>
                </a>
                <!-- available -->
                <div class="art-lamp-light">
                    <!-- add class 'art-not-available' if not available-->
                    <div class="art-available-lamp"></div>
                </div>
            </div>
            <!-- avatar end -->
            <!-- name -->
            <h5 class="art-name mb-10"><a href="">{{ user.first_name }} {{ user.last_name }}</a>
            </h5>
            <!-- post -->
            <div class="art-sm-text">{% for j in job %}{{ j.profession }}<br>{% endfor %}</div>
        </div>
        <!-- info bar header end -->

        <!-- scroll frame -->
        <div id="scrollbar2" class="art-scroll-frame">

            <!-- info bar about -->
            <div class="art-table p-15-15">
                <!-- about text -->
                <ul>
                    <!-- country -->
                    <li>
                        <h6>Residence:</h6><span>{{ user.place }}</span>
                    </li>
                    <!-- city -->
                    <li>
                        <h6>City:</h6><span>{{ user.address }}</span>
                    </li>
                    <!-- age -->
                    <li>
                        <h6>Age:</h6><span>{{ user.birth_date }}</span>
                    </li>
                </ul>
            </div>
            <!-- info bar about end -->

            <!-- divider -->
            <div class="art-ls-divider"></div>

            <!-- language skills -->
            <div class="art-lang-skills p-30-15">

                {% for lang in langs %}
                    <!-- skill -->
                    <div class="art-lang-skills-item">
                        <div id="circleprog{{ lang.pk }}" class="art-cirkle-progress"></div>
                        <!-- title -->
                        <h6>{{ lang.language }}</h6>
                        <p class="lang_degree" style="display: none">{{ lang.degree }}</p>
                    </div>
                    <!-- skill end -->
                {% endfor %}


            </div>
            <!-- language skills end -->

            <!-- divider -->
            <div class="art-ls-divider"></div>

            <!-- hard skills -->
            <div class="art-hard-skills p-30-15" id="progress_bar">


                {% for spec in specs %}
                    <!-- skill -->
                    <div class="art-hard-skills-item">
                        <div class="art-skill-heading">
                            <!-- title -->
                            <h6>{{ spec.special }}</h6>
                        </div>
                        <!-- progressbar frame -->
                        <div class="art-line-progress">
                            <!-- progressbar -->
                            <div class="special" id="lineprog{{ spec.pk }}">
                                <div class="degree" style="display: none">{{ spec.degree }}</div>
                            </div>
                        </div>
                        <!-- progressbar frame end -->
                    </div>
                    <!-- skill end -->
                {% endfor %}


            </div>
            <!-- language skills end -->

            <!-- divider -->
            <div class="art-ls-divider"></div>

            <!-- knowledge list -->
            <ul class="art-knowledge-list p-15-0">
                <!-- list item -->
                <li>Bootstrap, Materialize</li>
                <!-- list item -->
                <li>Stylus, Sass, Less</li>
                <!-- list item -->
                <li>Gulp, Webpack, Grunt</li>
                <!-- list item -->
                <li>GIT knowledge</li>
            </ul>
            <!-- knowledge list end -->

            <!-- divider -->
            <div class="art-ls-divider"></div>

            <!-- links frame -->
            <div class="art-links-frame p-15-15">

                <!-- download cv button -->
                <a href="{% static 'files/resume.docx' %}" class="art-link" download>Download cv <i
                        class="fas fa-download"></i></a>

            </div>
            <!-- links frame end -->

        </div>
        <!-- scroll frame end -->

        <!-- sidebar social -->
        <div class="art-ls-social">
            <!-- social link -->
            <a href="#." target="_blank"><i class="far fa-circle"></i></a>
            <!-- social link -->
            <a href="#." target="_blank"><i class="far fa-circle"></i></a>
            <!-- social link -->
            <a href="#." target="_blank"><i class="far fa-circle"></i></a>
            <!-- social link -->
            <a href="#." target="_blank"><i class="far fa-circle"></i></a>
            <!-- social link -->
            <a href="#." target="_blank"><i class="far fa-circle"></i></a>
        </div>
        <!-- sidebar social end -->

    </div>
    <!-- menu bar frame end -->

</div>