{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <!-- swup container -->
    <div class="transition-fade" id="swup">

        <!-- scroll frame -->
        <div id="scrollbar" class="art-scroll-frame">

            <!-- container -->
            <div class="container-fluid">

                <!-- row -->
                <div class="row p-30-0">

                    <!-- col -->
                    <div class="col-lg-12">

                        <!-- section title -->
                        <div class="art-section-title">
                            <!-- title frame -->
                            <div class="art-title-frame">
                                <!-- title -->
                                <h4>Newsletter</h4>
                            </div>
                            <!-- title frame end -->
                        </div>
                        <!-- section title end -->

                    </div>
                    <!-- col end -->
                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/1.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->
                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/2.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->
                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/3.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/4.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->
                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/5.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->
                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/6.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/7.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->
                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/8.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->
                    <!-- col -->
                    <div class="col-lg-4">

                        <!-- blog post card -->
                        <div class="art-a art-blog-card">
                            <!-- post cover -->
                            <a href="/blog-post.html" class="art-port-cover">
                                <!-- img -->
                                <img src="{% static 'img/blog/9.jpg' %}" alt="blog post">
                            </a>
                            <!-- post cover end -->
                            <!-- post description -->
                            <div class="art-post-description">
                                <!-- title -->
                                <a href="/blog-post.html">
                                    <h5 class="mb-15">Blog post title</h5>
                                </a>
                                <!-- text -->
                                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!
                                </div>
                                <!-- link -->
                                <a href="/blog-post.html" class="art-link art-color-link art-w-chevron">Read
                                    more</a>
                            </div>
                            <!-- post description end -->
                        </div>
                        <!-- blog post card end -->

                    </div>
                    <!-- col end -->

                </div>
                <!-- row end -->

            </div>
            <!-- container end -->

            <!-- container -->
            <div class="container-fluid">

                <!-- row -->
                <div class="row">

                    <!-- col -->
                    <div class="col-lg-12">

                        <!-- pagination -->
                        <div class="art-a art-pagination">
                            <!-- button -->
                            <a href="/blog-2-col.html"
                               class="art-link art-color-link art-w-chevron art-left-link"><span>Previous page</span></a>
                            <div class="art-pagination-center art-m-hidden">
                                <a href="/blog-2-col.html"></a>
                                <a href="/blog-2-col.html">1</a>
                                <a class="art-active-pag" href="/blog-2-col.html">2</a>
                                <a href="/blog-2-col.html">3</a>
                                <a href="/blog-2-col.html">...</a>
                            </div>
                            <!-- button -->
                            <a href="/blog-2-col.html"
                               class="art-link art-color-link art-w-chevron"><span>Next page</span></a>
                        </div>
                        <!-- pagination end -->

                    </div>
                    <!-- col end -->

                </div>
                <!-- row end -->

            </div>
            <!-- container end -->

            <!-- container -->
            <div class="container-fluid">

                <!-- row -->
                <div class="row">

                    <!-- col -->
                    <div class="col-6 col-lg-3">
                        <!-- brand -->
                        <img class="art-brand" src="{% static 'img/brands/1.png' %}" alt="brand">
                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-6 col-lg-3">
                        <!-- brand -->
                        <img class="art-brand" src="{% static 'img/brands/2.png' %}" alt="brand">
                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-6 col-lg-3">
                        <!-- brand -->
                        <img class="art-brand" src="{% static 'img/brands/3.png' %}" alt="brand">
                    </div>
                    <!-- col end -->

                    <!-- col -->
                    <div class="col-6 col-lg-3">
                        <!-- brand -->
                        <img class="art-brand" src="{% static 'img/brands/1.png' %}" alt="brand">
                    </div>
                    <!-- col end -->

                </div>
                <!-- row end -->

            </div>
            <!-- container end -->

            <!-- container -->
            <div class="container-fluid">

                <!-- footer -->
                <footer>
                    <!-- copyright -->
                    <div class="art-copy">© 2020 Artur Carter</div>
                    <!-- author ( Please! Do not delete it. You are awesome! :) -->
                    <div>Template author:&#160; <a href="https://themeforest.net/user/millerdigitaldesign"
                                                   target="_blank">Nazar Miller</a></div>
                </footer>
                <!-- footer end -->

            </div>
            <!-- container end -->


        </div>
        <!-- scroll frame end -->

    </div>
    <!-- swup container end -->

{% endblock %}