<!doctype html>
<html lang="zxx">
{% load static %}
{% include 'layouts/head.html' %}
<body>

<!-- app -->
<div class="art-app">

    <!-- mobile top bar -->
    <div class="art-mobile-top-bar"></div>

    <!-- app wrapper -->
    <div class="art-app-wrapper">

        <!-- app container end -->
        <div class="art-app-container">

            <!-- info bar -->
            {% include 'layouts/infobar.html' %}
            <!-- info bar end -->

            <!-- content -->
            <div class="art-content">

                <!-- curtain -->
                <div class="art-curtain"></div>

                <!-- top background -->
                <div class="art-top-bg" style="background-image: url('{% static 'img/bg.jpg' %}')">
                    <!-- overlay -->
                    <div class="art-top-bg-overlay"></div>
                    <!-- overlay end -->
                </div>
                <!-- top background end -->

                <!-- ****** swup CONTAINER ******** -->
                {% block content %}
                {% endblock %}
                <!-- ****** swup CONTAINER END ****** -->

            </div>
            <!-- content end -->

            <!-- menu bar -->
            {% include 'layouts/menubar.html' %}
            <!-- menu bar end -->

        </div>
        <!-- app container end -->

    </div>
    <!-- app wrapper end -->

    <!-- preloader -->
    {% include 'loader/preloader.html' %}
    <!-- preloader end -->

</div>
<!-- app end -->

{% include 'layouts/foot.html' %}

</body>

</html>
